/* Import Nunito font */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

/* Set global styles */
html, body, * {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

/* Override styles for specific elements */
body {
  color: #847AFF;
  background-color: #020218;
  font-size: 11px;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
}

#popup {
  min-width: 420px;
  padding: 20px;
}

#popup h2 {
  font-size: 16px;
  border-bottom: 1px solid #19144c;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

#popup ul {
  /* Display list items in a flex container */
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-around;
}

#popup ul li {
  /* Display list items in a flex container */
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#popup ul li div.preview {
  /* Width of preview image */
  width: 100px;
  margin-right: 10px;
  display: inline-flex;
}

#popup ul li div.details {
  /* Display details in a flex container */
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
  width: 100%;
}

#popup ul li div.details .detail {
  /* Display details in a flex container */
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  justify-content: space-between;
  border-bottom: 1px dotted #0B0B23;
}

#popup ul li div.details .detail .detail-key {
  /* Display key in a flex container */
  display: inline-flex;
  color: #8a62ca;
}

#popup ul li div.details .detail .detail-value {
  /* Display value in a flex container */
  display: inline-flex;
  color: #7761FD;
}

#popup ul li div.actions {
  /* Display actions in a flex container */
  display: inline-flex;
  flex-direction: column;
  align-items: right;
  width: 120px;
}

#popup ul li .btn {
  /* Display button in a flex container */
  display: inline-flex;
  border-radius: 3px;
  font-size: 10px;
  padding: 3px 4px;
  background: #7761FD;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  transition: .3s;
  outline: none;
}

#popup ul li .btn:hover {
  /* Change background color on hover */
  background-color: rgb(92, 92, 240);
}

#popup ul li .btn:active {
  /* Add box-shadow on active */
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, .2);
}
